/* место для вашего кода */

body {
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid #000;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 92px 49px 92px 51px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  text-underline-offset: 5px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}
.header__link_active {
  text-decoration: none;
}
.header__link {
  color: #000;
  font-size: 18px;
}
.header__logo {
  justify-self: center;
  padding-top: 2px;
}
.header__logo-image {
  max-width: 148px;
  max-height: 105px;
}
.address {
  justify-self: end;
  padding:  8px 0 7px 0;
  color: #000;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
  text-underline-offset: 4px;
}

.address a{
  display: block;
}



.cover {
  background: url('../images/cover.jpg') 0 -17px/cover no-repeat;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 135px 50px;
  color: #FFF;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  line-height: 1.15;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}
.aligned-text_center {
  line-height: 1;
  text-align: center;
}
.aligned-text_right {
  line-height: 1;
  text-align: right;
}
.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  padding: 0 50px 48px 50px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.cover__description-text {
  word-spacing: 17.5px;
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 127.273%;
  text-transform: uppercase;
}
.bet-button {
  margin-left: 78px;
  padding: 12px 32px;
  color: #FFF;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #FFF;
}